

:root {
    --cornavbar: #6dbdd1;
    --corindexcard:  #6dbdd1;
    --corfooter: #6dbdd1;
}

body{
    background-color: #f4fffd;
}

.py-5.text-center {
    background-color: var(--corindexcard)
}

.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: var(--cornavbar) !important;
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 55px;
}

.navbar-brand {
    color: white;
    font-size: 22px;
}

.nav-item a {
    color: white;
    font-size: 20px;
}

.nav-link.active {
    color: white !important;
    font-size: 20px;
    border-bottom: 1px solid white;
    padding-bottom: 0;
}


.footerint {
    width: 100%;
    background-color: var(--corfooter);
    color: white;
    font-size: 18px;
    padding: 30px 0;
}
.fotdiv {
    text-align: center;
}
.fotdiv h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;

}
.fotdiv ul {
    padding: 0;
    list-style: none;
}
.fotdiv li {
    margin-bottom: 5px;
}
.fotdiv a {
    text-decoration: none;
    color: white;
    transition: color 0.3s ease, border-bottom 0.3s ease;
}
.fotdiv a:hover {
    border-bottom: 1px solid rgb(255, 255, 255);
    padding-bottom: 1px;
}

.fotdiv li a i {
    color: white;
    font-size: 25px;
}

:root{
    --CorBotao: #6dbdd1;
    --CorBotãoHover: #3396af;
    --CorFooter: #6dbdd1;
    --CorTexto: #f4fffd;
}


*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

footer{
    background-color: var(--CorFooter);
    color: var(--CorTexto);
    padding: 4rem;
    padding-bottom: 0;
}
footer a{
    color: var(--CorTexto);
    text-decoration: none;
}
footer a:hover{
    color: var(--CorTexto);
    text-shadow: 1px 1px 1px black;
}
.footer-metapercent{
    color: var(--CorTexto);
    font-size: 25px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
}
.footer-li-links{
    list-style: none;
}
.footer-li-links.cadastro{
    display: flex;
    justify-content: center;
}
.footer-list-links{
    padding-left: 0;
}
.button-footer{
    align-self:auto;
}
.direitos{
    display: flex;
    justify-content: center;
}

a.btn.btn-light:hover{
    background-color: #6dbdd1 !important;
    border:  1px solid #6dbdd1;
}

a.btn.btn-outline-primary{
    border:  1px solid #3396af;
    color: #3396af;
}

a.btn.btn-outline-primary:hover{
    border:  1px solid white;
    color: white;
    background-color: #68c3da;
}

.btn-primary{
    background-color: #3396af;
    border: #3396af;
}

.btn-primary:hover{
    background-color: #3396af;
    border: #3396af;
    color: black;
} /* Boa nicolas*/